:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0 0 0 1.25rem;
  margin: 0;
  line-height: 1.6;
  color: #475569;
}

li {
  margin-bottom: 0.5rem;
}
